@use "./variables.scss" as *;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}


