@use "./variables.scss" as *;
@use "./breakpoints" as *;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}



@mixin respond($breakpoint) {
  @if $breakpoint == xl {
    @media (max-width: $bp-xl) { @content; }
  }
  @else if $breakpoint == lg {
    @media (max-width: $bp-lg) { @content; }
  }
  @else if $breakpoint == md {
    @media (max-width: $bp-md) { @content; }
  }
  @else if $breakpoint == sm {
    @media (max-width: $bp-sm) { @content; }
  }
  @else if $breakpoint == xs {
    @media (max-width: $bp-xs) { @content; }
  }
  @else if $breakpoint == xxs {
    @media (max-width: $bp-xxs) { @content; }
  }
}