@use "../common-style/abstracts/variables" as *;

.blogPage {
  padding: $space-xl 0;
  background: $color-white-soft;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 $space-md;
    text-align: center;
  }

  &__subHeading {
    font-size: $text-md;
    font-weight: $font-weight-bold;
    line-height: 150%;
    text-transform: uppercase;
    color: $color-text-light;
  }

  &__heading {
    font-size: $text-3xl;
    font-weight: $font-weight-bold;
    line-height: 63.98px;
    color: $color-text-dark;
  }

  &__description {
    color: $color-gray;
    font-size: $text-md;
    font-weight: $font-weight-regular;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-xl;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .blogPage {

    &__heading {
      font-size: $text-xl;
      line-height: 29.95px;
      font-weight: $font-weight-bold;
      max-width: 195px;
      margin: 0 auto;
      text-align: center;
    }

    &__subHeading {
      font-size: $text-xs;
      font-weight: $font-weight-regular;
      line-height: 150%;
      max-width: 322px;
      margin: 0 auto;
      text-align: center;
      color: $color-gray;
    }

    &__grid {
      grid-template-columns: 1fr;
    }
  }

  .cardBody {
    padding: $space-sm;
  }
}