@use "../abstracts/variables" as *;

body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
  font-family: $font-body;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-lg;
}
