@use "../abstracts/variables" as *;

.blogItem {
  width: 100%;

  &__image {
    width: 100%;
    height: 327.42px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius-lg;
      display: block;
      transition: transform 0.4s ease;
    }
  }

  &:hover {
    .blogItem__image img {
      transform: scale(1.05);
    }
  }


  &__content {
    width: 100%;
  }

  &__meta {
    display: flex;
    gap: $space-sm;
    font-size: $text-xs;
    color: $color-text-light;
    text-transform: uppercase;
    margin-bottom: $space-sm;
  }

  &__category {
    font-weight: $font-weight-bold;
    font-size: $text-xs;
    line-height: 150%;
    color: $color-gray-dark;
  }

  &__date {
    font-weight: $font-weight-medium;
    font-size: $text-xs;
    line-height: 150%;
    color: $color-gray-light;
  }

  &__heroTitle {
    font-size: $text-xl;
    font-weight: $font-weight-semibold;
    line-height: 1.4;
    margin-bottom: $space-md;
  }

  &__cardTitle {
    font-size: $text-lg;
    font-weight: $font-weight-semibold;
    margin: $space-sm 0;
  }

  &__description {
    font-size: $text-md;
    color: #6b6b6b;
    line-height: $line-height-md;
    margin-bottom: $space-md;
  }

  &__readMoreWrapper {
    margin-top: auto;
  }
}


.recentHero {
  display: grid;
  height: 372px;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 630px;

  .blogItem__image {
    height: 360px;
  }

  .blogItem__content {
    padding: $space-md;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}


.blogGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-lg;
}

@media (min-width: 768px) and (max-width: 1023px) {

  .blogGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    max-width: 287px;
  }
}

@media (min-width: 1024px) {

  .blogGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    max-width: 400px;

    .blogItem__image {
      height: 360px;
    }
  }
}