@use "../abstracts/variables" as *;

.contactSection {
  background: #f7f7fb;
  padding: 60px 20px;
}

.contactContainer {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.contactHeader {
  margin-bottom: 60px;
}

.contactTitle {
  font-size: 33.52px;
  line-height: 44.68px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #1f1f1f;
}

.contactSubtitle {
  max-width: 520px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.7;
  color: #8c8c8c;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.contactCard {
  background: $color-white;
  padding: 40px 25px;
  border-radius: 20px;
  transition: 0.3s ease;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
}

.contactCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 60px rgba(108, 99, 255, 0.2);
}

.contactIcon {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(135deg, $color-gradient-start, $color-gradient-end);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 26px;
  height: 26px;
  object-fit: contain;
}

.cardHeading {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color:$color-gradient-start;
}

.cardDescription {
  margin-top: 8px;
  font-size: 14px;
  color: #7a7a7a;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .contactGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contactCard {
    padding: 30px 20px;
  }
}

@media (max-width: 600px) {
  .contactSection {
    padding: 40px 15px;
  }

  .contactTitle {
    font-size: 26px;
    line-height: 36px;
  }

  .contactSubtitle {
    font-size: 14px;
  }

  .contactGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contactCard {
    padding: 25px 20px;
  }
}