@use "../abstracts/variables" as *;
.footer {
  background: $color-white-soft;
  padding: 70px 0 40px;
  text-align: center;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    margin-bottom: 30px;

    img {
      height: 43.8px;
      width: 156.97px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;

    li {
      a {
        text-decoration: none;
        font-size: $text-body;
        color: #555;
        transition: 0.3s ease;

        &:hover {
          color: $color-primary-hover;
        }
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;

    a {
      width: 40px;
      height: 40px;
      background: $color-gradient-start;
      color: $color-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $text-sm;
      transition: 0.3s ease;

      &:hover {
        background:  $color-primary-hover;
      }

      img {
        width: 18px;
        height: 18px;
        object-fit: contain;
      }
    }
  }

  &__divider {
    width: 90%;
    height: 2px;
    background: $color-gradient-start;
    margin: 0 auto 25px;
  }

  &__copy {
    font-size: $text-sm;
    color:$color-text-muted;
  }
}