@use "../abstracts/variables" as *;

.notFound {
  &__container {
    min-height: 100vh;
    background: $color-white-soft;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    width: 816px;
    max-width: 95%;
    height: 472px;
    border-radius: $radius-xl;
    background: linear-gradient(
      135deg,
      $color-gradient-start,
      $color-gradient-end
    );
    position: relative;
    text-align: center;
    padding: $space-sm;
    overflow: hidden;
    box-shadow: $shadow-md;
  }

  &__waveWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 0;
  }

  &__waveImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  &__code {
    font-size: 120px;
    font-weight: $font-weight-bold;
    color: $color-white;
    margin-top: $space-lg;
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-top: $space-sm;
    font-size: $text-lg;
    font-weight: $font-weight-medium;
    color: $color-white;
    position: relative;
    z-index: 1;
  }

  &__description {
    margin-top: $space-sm;
    font-size: $text-xl;
    font-weight: $font-weight-regular;
    color: #e6e6ff;
    position: relative;
    z-index: 1;
  }

  &__button {
    display: inline-block;
    margin-top: $space-xl;
    padding: $space-sm $space-xl;
    border-radius: $radius-md;
    background: $color-white;
    color: $color-gradient-end;
    font-weight: $font-weight-semibold;
    text-decoration: none;
    transition: $transition-default;
    position: relative;
    z-index: 1;

    &:hover {
      transform: translateY(-3px);
      box-shadow: $shadow-sm;
    }
  }
}
