@use "../abstracts/variables" as *;

.section {
  width: 100%;
  padding: 60px 0;
  background: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sectionTitle {
  font-size: $h3-size;
  font-weight: 600;
}

.viewAllBtn {
  padding: 10px 28px;
  border-radius: 6px;
  white-space: nowrap; 
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .header {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  .sectionTitle {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}