.section {
  width: 100%;
  padding: 40px 0;
  background: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sectionTitle {
  font-size: 48px;
  font-weight: 600;
}

.viewAllBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  //   height: 53px;
  padding: 16px 48px;

  border-radius: 8px;
  border: none;
  text-decoration: none;
  background-color: #2563eb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}

.viewAllBtn:hover {
  background: #542dd6;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
