@use "../abstracts/variables" as *;

.blogDetail {
  padding: 80px 20px 0;

  &__container {
    max-width: 800px;
    margin: auto;
  }

  &__meta {
    display: flex;
    gap: $space-md;
    font-size: $text-sm;
    color: $color-text-muted;
    margin-bottom: $space-md;
    text-transform: uppercase;
    flex-wrap: wrap;
  }

  &__title {
    font-size: $space-xl;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
    margin-bottom: $space-xl;
  }

  &__mainImage,
  &__secondImage {
    width: 100%;
    border-radius: $radius-xl;
    margin-bottom: $space-xl;
  }

  &__content {
    font-size: $text-md;
    line-height: 1.8;
    color: #4b5563;
    margin-bottom: $space-xl;

    p {
      margin-bottom: $space-md;
    }
  }

  &__quote {
    background: #f3f4f6;
    padding: $space-xl;
    border-left: 4px solid $color-primary;
    border-radius: $radius-lg;
    margin-bottom: $space-xl;

    p {
      font-style: italic;
    }

    span {
      font-size: $text-sm;
      color: $color-text-muted;
    }
  }

  &__popularWrapper {
    background: #f9fafb;
    padding: 80px 20px;
    margin-top: 40px;
  }

  &__popularContainer {
    max-width: $layout-container-width;
    margin: auto;
  }

  &__popularHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-xl;

    h2 {
      font-size: $text-xl;
      font-weight: $font-weight-semibold;
    }
  }

  &__popularGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .blogDetail {

    &__title {
      font-size: 32px;
    }

    &__popularGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 767px) {
  .blogDetail {
    padding: 50px 16px 0;

    &__title {
      font-size: $text-xl;
      margin-bottom: 25px;
    }

    &__meta {
      font-size: $text-xs;
    }

    &__content {
      font-size: $text-body;
      line-height: 1.7;
    }

    &__quote {
      padding: $space-lg;
    }

    &__mainImage,
    &__secondImage {
      border-radius: $radius-md;
    }

    &__popularWrapper {
      padding: 60px 16px;
    }

    &__popularHeader h2 {
      font-size: $text-heading-sm;
    }

    &__popularGrid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}